.project-images {
    @include flex;
    flex-wrap: wrap;
    img {
        border: 2px solid rgb(235, 235, 235);
        width: 20%;
    }
}
.project-img {
    margin: 4rem;
}
.info-heading a {
    color: $orange;
}
.info-links {
    text-align: center;
}

.blog-twitter {
    padding-top: 6rem;
}
.planetrescue-img {
    width: 40% !important;
    margin: 2rem;
}
@media only screen and (max-width: 992px) {
    .planetrescue-img,
    .project-images {
        width: 100%;
    }
}
.view-more-title {
    font: normal bold 30px/30px $roboto;
    color: $navy-blue;
    text-align: center;
    margin-top: 2rem;
}
.info-heading {
    font: normal bold 30px/30px $roboto;
    font-family: $caption;
    color: $orange;
    margin: 4rem 0 -2rem 4rem;
}
.project-details {
    margin: 6rem auto 2rem auto;
    width: 60%;
    padding: 0.5rem;
    border: 1px solid $orange;
    h2 {
        text-align: center;
        color: $orange;
        font-family: $caption;
    }
}
.planetrescue-h2 {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: 2rem;
}

.project-details ul li {
    color: $navy-blue;
    font-family: $roboto;
    font-size: 14px;
}

.mb {
    padding-bottom: 30px;
}
