.site-main .services-area {
 display: flex;
  margin-bottom: -100px;
  .services-title {
    padding: 0 14rem;
  }
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;
  margin: auto;
  transition: box-shadow 0.7s ease;
  &:hover {
    box-shadow: $box-shadow;
  }
}
